{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Email Sent</title>
    <meta charset="utf-8" />
    <link href="{% static 'HaOai_Chatbot/assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" />
    <link href="{% static 'HaOai_Chatbot/assets/css/style.bundle.css' %}" rel="stylesheet" />
</head>
<body class="auth-bg">
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid p-10">
        <div class="d-flex flex-center flex-column flex-column-fluid">
            <a href="#" class="mb-12">
                <img alt="Logo" src="{% static 'HaOai_Chatbot/assets/media/logos/logo-default.svg' %}" class="h-60px"/>
            </a>
            <div class="w-lg-500px bg-white rounded shadow-sm p-10 p-lg-15 mx-auto">
                <div class="text-center mb-10">
                    <h1 class="text-dark mb-3">Check your email</h1>
                    <div class="text-gray-600 fw-semibold fs-5">
                        If your email is in our system, we’ve sent a link to reset your password.
                        Please check your inbox and spam folder.
                    </div>
                </div>
                <div class="text-center">
                    <a href="{% url 'account:signin_view' %}" class="btn btn-light-primary fw-bold">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
