{% extends "HaOai_ChatBot/base.html" %}
{% load static %}

{% block breadcrumb %}
<ul class="breadcrumb fw-semibold fs-base my-1">
    <li class="breadcrumb-item text-muted">
        <a href="{% static 'HaOai_Chatbot/../dist/index.html' %}" class="text-muted">Home</a>
    </li>
    <li class="breadcrumb-item text-dark">Chat</li>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="container-xxl p-0" id="kt_content_container" style="height: 90vh; width: 95vw; max-width: 100%; max-height: 100%; margin: 0 auto;">
    <div class="d-flex flex-column h-100">
        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="flex-lg-row-fluid w-100 h-100">
                <div class="card shadow-lg border-0 rounded-4 h-100">
                    <!-- Header Chat -->
                    <div class="card-header border-0 pb-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <span class="fs-3 fw-bold text-dark me-3">HaOai</span>
                            <div class="d-flex align-items-center">
                                <span class="badge bg-success rounded-circle w-12px h-12px me-2"></span>
                            </div>
                        </div>
                        <button class="btn btn-link text-muted" id="close-chat" type="button"><i class="bi bi-x-circle"></i></button>
                    </div>

                    <!-- Body Chat -->
                    <div class="card-body" id="kt_chat_messenger_body" style="overflow-y: auto; padding: 0 20px; height: calc(100vh - 180px);">
                        <div id="chat-messages" class="scroll-y pe-3" style="height: calc(100vh - 200px); overflow-y: auto;">

                        </div>
                    </div>

                    <!-- Footer Chat (Input and Send Button) -->
                    <div class="card-footer pt-4" id="kt_chat_messenger_footer" style="padding: 15px;">
                        <div class="input-group d-flex align-items-center position-relative">
                            <textarea id="chat-input" class="form-control form-control-lg rounded-3" rows="2" placeholder="Nhập tin nhắn..." style="font-size: 16px;"></textarea>
                            <button class="btn btn-primary btn-circle" id="send-btn" type="button" style="width: 56px; height: 70px; font-size: 1.5rem;">
                                <i class="bi bi-arrow-up"></i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'chatbot/js/chat.js' %}"></script>
{% endblock %}
